body {
    font-family: site_font;
    margin: 0;
}

@font-face {
    font-family: site_font;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: site_font2;
    src: url(../fonts/Roboto-Thin.ttf);
}

/* @font-face {
    font-family: site_font;
    src: url(../fonts/Fredoka-Regular.ttf);
}

@font-face {
    font-family: site_font;
    src: url(../fonts/Fredoka-Medium.ttf);
}

@font-face {
    font-family: site_font;
    src: url(../fonts/Fredoka-SemiBold.ttf);
}

@font-face {
    font-family: site_font;
    src: url(../fonts/Outfit-Regular.ttf);
}

@font-face {
    font-family: site_font;
    src: url(../fonts/Outfit-Medium.ttf);
}

@font-face {
    font-family: site_font;
    src: url(../fonts/Outfit-SemiBold.ttf);
} */

.site_logo {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.site_logo img {
    width: 130px;
    transition: .5s;
}

.login_btn {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #FD7909;
    background-color: #FD7909;
    color: #fff;
    font-size: 18px;
    font-family: 'site_font';
    padding: 7px 15px;
    transition: .7s;
}

.login_btn:hover {
    background-color: #fff;
    color: #000;
}

.site_title {
    font-size: 55px;
    font-family: 'site_font';
    margin-bottom: 3px;
    color: #8E65C1;
}

.orange_color { color: #fd7909; }

.purple_bg_color {
    background-color: #8E65C1;
    color: #fff;
}

.purple_bg_color td {
    background-color: #8E65C1;
    color: #fff;
}

.sidenav_bar.collapsed .site_logo img {
    width: 70px;
}

.top_header {
    background-color: #8E65C1;
    color: #fff;
    top: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: -webkit-fill-available;
    /* box-shadow: 0px 0px 10px 5px #c9c9c9; */
}

.top_header .sidebar_toggle_btn {
    font-size: 30px; 
    cursor: pointer; 
    transition: .5s;
    color: #FD7909;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px 10px;
    transition: .5s;
}

.top_header .sidebar_toggle_btn:hover {
    color: #fff;
    background-color: #FD7909;
}

.top_header .header_profile_icon {
    font-size: 25px; 
    cursor: pointer; 
}
.top_header .header_profile_icon img {
    width: 45px;
}

.dropdown_box {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
}

.dropdown_image {
    height: 40px; /* Adjust the size as needed */
    cursor: pointer;
    border-radius: 50%; /* Optional: makes the image circular */
}

.dropdown_content {
    display: none; 
    position: absolute; 
    width: 140px;
    right: 0; 
    padding: 5px 0;
    background-color: #646464;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
    top: 55px;
}

.dropdown_content a {
    display: block; 
    padding: 5px 15px; 
    text-decoration: none; 
    color: #fff; 
    font-family: site_font;
    font-size: 19px;
    transition: .7s;
}

.dropdown_content a:hover {
    background-color: #000; 
}

.dropdown_show {
    display: block;
}

.sidenav_bar {
    height: 100%;
    width: 350px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f3eaff;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 15px;
}

.sidenav_bar.collapsed {
    width: 70px; 
}

.sidebar_link {
    padding: 8px 8px 8px 16px; 
    margin: 12px 0;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: flex; 
    align-items: center; 
    transition: 0.3s;
}

.sidebar_link:hover, .sidebar_link.active {
    color: #fff;
    background-color: #8e65c1
}

.sidenav_icon {
    margin: 0px 25px 0px 9px;
    text-align: center;
}

.fa-gauge.sidenav_icon { font-size: 25px; }
.fa-clipboard-question.sidenav_icon, .fa-file-arrow-down.sidenav_icon { font-size: 29px; }
.fa-sliders.sidenav_icon { font-size: 22px; }

.sidebar_icons {
    margin-left: 5px;
}

.sidemenu_text {
    text-wrap: nowrap;
    font-size: 20px;
    font-family: site_font;
    padding-left: 26px;
}

#main_container {
    transition: margin-left .5s;
    margin-left: 350px; 
}

.content_body { 
    padding: 10px 30px 80px;
    margin-top: 70px;
}

.content_body_got_questions {
    padding: 10px 30px 80px;
    margin-top: 70px;
    background-color: #ffffff73;
    /* height: 90vh; */
    position: relative;
    /* overflow: hidden; */
}

.content_body_got_questions::before {
    content: "";
    background-image: url(../images/content_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


.text_box_wrap {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 15px;
}

.site_textbox {
    width: -webkit-fill-available;
    border: 0px solid #000;
    border-radius: 8px;
    padding-left: 15px;
    background-color: #efefef;
    font-size: 22px;
    height: 55px;
    margin-bottom: 15px;
}

.site_textarea {
    width: -webkit-fill-available;
    border: 0px solid #000;
    border-radius: 10px;
    padding: 6px 12px;
    background-color: #efefef;
    font-size: 22px;
}

.textbox_btn {
    font-size: 22px;
    height: 55px;
    border: 0;
    width: 140px;
}

.site_btn {
    background-color: #8E65C1;
    color: #fff;
    border-radius: 6px;
    border: 2px solid #8E65C1;
}

.site_btn:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #8E65C1;
}

.add_btn {
    color: #fd7909;
    border-radius: 6px;
    border: 2px solid #8E65C1;
}

.add_btn:hover {
    color: #8E65C1;
    border: 2px solid #fd7909;
}

.accordion-button:not(.collapsed) {
    background-color: #f3eaff !important;
}
.accordion-button:focus {
    box-shadow: unset !important;
}

.question_font_size {
    font-size: 18px;
}

.table_font { font-size: 18px; }
.title_icon { height: 60px; margin-bottom: 5px; }

.login_box {
    box-shadow: 0px 0px 15px 5px #dddddd;
    border-radius: 10px;
    padding: 35px 50px 50px;
    margin-top: 25px;
}

.box_text {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 0;
    margin-bottom: 25px;
}

.box_title {
    font-size: 40px;
    font-family: 'site_font';
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: auto;
    padding: 10px 0;
    text-align: center;
}

#drop-area.hover {
    border-color: #333;
}

.limit_text {
    font-size: 15px;
}

.select_file_text {
    font-size: 19px;
    padding-top: 0;
}

.select_file_text span{
    color: blue;
    cursor: pointer;
}

#file-list {
    margin-top: 20px;
}

.file-item {
    margin: 5px 0;
}

#download-icon {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px; /* Space between icon and text */
}

.card_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.dashboard_cards {
    width: 100%;
    border-radius: 8px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card_icon {
    height: 55px;
    margin-bottom: 20px;
}

.card_color1 { /*background: linear-gradient(45deg, #6a11cb, #2575fc) !important;*/ background-color: #8e65c1; }
.card_color2 { /*background: linear-gradient(45deg, #00b09b, #96c93d) !important;*/ background-color: #8e65c1;}
.card_color3 { /*background: linear-gradient(45deg, #ee0979, #ff6a00) !important;*/ background-color: #8e65c1;}
.card_color4 { /*background: linear-gradient(45deg, #d900ff, #6e00ff) !important;*/ background-color: #8e65c1;}

.eye-icon {
    position: absolute;
    top: 67%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

.table_functions_btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.table_functions_btn img {
    height: 20px;
    cursor: pointer;
}

.card-body {
    background-color: #ffeddf;
}

.card_description {
    height: 100px;
    display: flex;
    align-items: center;
}

.footer_block {
    background: #8e65c1;
    color: #fff;
    padding: 15px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: -webkit-fill-available;
}

.table_icon {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.table_icon img {
    height: 40px;
    cursor: pointer;
}

/* Hide Everything when printing */
@media print {
    .sidenav_bar, .top_header, .print_none{
        display: none; 
    }
    #main_container {
        margin-left: 0 !important;
    }
    #tableContainer table thead tr {
        background-color: #212529 !important;
        color:#fff;
        -webkit-print-color-adjust: exact;
    }
    #tableContainer table tbody tr {
        background-color: #e2e3e5 !important;
        color:#000;
        -webkit-print-color-adjust: exact;
    }
    #tableContainer table tr td {
        font-size: 14px;
    }
}

@media (min-width: 200px) and (max-width:1200px) {
    .card_box {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .sidenav_bar { width: 70px; }
    .site_logo img { width: 70px; }
    .top_header { position: relative; }
    .content_body, .content_body_got_questions { padding: 10px 10px; margin-top: 0; }
    .site_textbox { font-size: 20px; }
    .textbox_btn { font-size: 20px; height: 50px; }
    /* .dropdown_image { width: 35px; } */
    #main_container { margin-left: 70px;}
    .profile_dropdown { top: 63px; }
    .top_header .sidebar_toggle_btn {
        position: absolute;
        padding: 1px 10px;
        top: 13px;
        z-index: 2;
    }
    .sidenav_bar.open_collapsed + #main_container .top_header .sidebar_toggle_btn {
        left: 220px;
    }
    .sidenav_bar.collapsed + #main_container .top_header .sidebar_toggle_btn {
        left: 15px;
    }
    .login_box { padding: 35px 15px 50px; }
}

@media screen and (max-width: 500px) {
    .text_box_wrap { flex-direction: column; }
    .title_icon { width: 40px; height: auto; }
    .site_title { font-size: 32px; }
}

@media screen and (max-width: 350px) {
    .sidenav_bar.open_collapsed + #main_container .top_header .sidebar_toggle_btn {
        left: 69vw;
    }
    .title_icon { display: none; }
}