body {
    font-family: Montserrat-Medium;
    margin: 0;
}

:root {
    --dark-purple: #8E65C1;
    --light-purple: #f3eaff;
    --orange-color: #FD7909;
    --light-color: #fff;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

.site_logo {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.site_logo img {
    width: 220px;
    transition: .5s;
}

.sidenav_bar.collapsed .site_logo .full_logo { display: none; }
.sidenav_bar.open_collapsed .site_logo .sm_logo { display: none; }

.login_btn {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    color: var(--light-color);
    font-size: 18px;
    padding: 7px 15px;
    transition: .7s;
}

.login_btn:hover {
    background-color: var(--light-color);
    color: #000;
}

.page_title {
    font-family: 'Montserrat-SemiBold';
    font-size: 40px;
    margin-bottom: 3px;
    color: var(--dark-purple);
    text-align: center;
    width: 100%;
}

.site_title {
    font-family: 'Montserrat-SemiBold';
    font-size: 40px;
    margin-bottom: 3px;
    color: var(--dark-purple);
    text-align: left;
    width: auto;
}

.title_icon {
    color: var(--dark-purple);
    font-size: 35px;
    margin-left: 5px;
}

.sub_title { color: var(--dark-purple); font-size: 22px; }

.purple_bg_color {
    background-color: var(--dark-purple);
    color: var(--light-color);
}

.purple_bg_color td {
    background-color: var(--light-purple);
    color: var(--dark-purple);
}

.sidenav_bar.collapsed .site_logo img { width: 50px; }

.top_header {
    /* background-color: var(--dark-purple); */
    color: var(--light-color);
    top: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: -webkit-fill-available;
}

.top_header .sidebar_toggle_btn {
    font-size: 25px; 
    cursor: pointer; 
    transition: .5s;
    color: #868686;
    transform: rotate(90deg) scalex(-1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top_header .sidebar_toggle_btn:hover {
    color: #000;
}

.top_header .header_profile_icon {
    font-size: 25px; 
    cursor: pointer; 
}
.top_header .header_profile_icon img { width: 45px; }

.dropdown_box {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
}

.dropdown_image {
    height: 35px; 
    cursor: pointer;
    border-radius: 50%;
}

.dropdown_content {
    display: none;
    position: absolute;
    width: 140px;
    right: 0;
    padding: 5px 0;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #d0d0d0;
    z-index: 1;
    top: 55px;
}

.dropdown_content a {
    font-family: Montserrat-Regular;
    display: block; 
    padding: 5px 15px; 
    text-decoration: none; 
    color: #000; 
    font-size: 18px;
    transition: .7s;
}

.dropdown_content a:hover {
    background-color: #e8e8e8;
}

.dropdown_show { display: block; }

.sidenav_bar {
    height: 100%;
    width: 350px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 15px;
}

.sidenav_bar.collapsed { width: 0;  }
.sidebar_menu_box { padding: 0 15px; }
.sidenav_bar.collapsed .sidemenu_text { display: none; }

.sidebar_link {
    padding: 10px 7px;
    margin: 12px 0;
    text-decoration: none;
    font-size: 23px;
    color: var(--dark-purple);
    display: flex; 
    align-items: center; 
    transition: 0.3s;
}

.sidebar_link:hover, .sidebar_link.active {
    color: var(--dark-purple);
    background-color: var(--light-purple);
    border-radius: 10px;
}

.sidebar_icons { text-align: center; height: 35px; }
.open_collapsed .sidebar_icons i { width: 35px; }
.collapsed .sidebar_icons i { width: 26px; }

.sidemenu_text {
    font-family: 'Montserrat-SemiBold';
    text-wrap: nowrap;
    font-size: 15.5px;
    padding-left: 3px;
}

#main_container {
    transition: margin-left .5s;
    margin-left: 350px; 
}

.content_body { 
    padding: 0 18px 0;
    /* margin-top: 70px; */
    /* background-color: var(--light-purple); */
    position: relative;
}

.content_body::before {
    /* content: "";
    background-image: url(../images/background/main_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content_body_height { height: 90vh; }
@media (max-height:800px) { .content_body_height { height: max-content; } }
@media (max-width:1200px) { .content_body_height { height: max-content; } }

.content_space { padding: 45px; }

.text_box_wrap {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    align-items: center;
}

.site_textbox {
    width: -webkit-fill-available;
    font-family: 'Montserrat-Regular';
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    padding: 0 15px;
    background-color: #f9f9f9;
    font-size: 16px;
    height: 50px;
    position: relative;
}

.text_box{
    width: -webkit-fill-available;
    font-family: 'Montserrat-Regular';
    border: 1px solid #cfcfcf;
    border-radius: 50px;
    padding: 0 50px 0 20px;
    background-color: #f9f9f9;
    font-size: 16px;
    height: 50px;
}

.text_box_wrap .text_box::placeholder, .site_textarea::placeholder, .login_box .text_box::placeholder {
    font-family: Montserrat-Regular;
    color: #9ca3af;
}

.site_textarea {
    width: -webkit-fill-available;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 6px 12px;
    background-color: var(--light-color);
    font-size: 18px;
}

.max_width_btn { width: 100%; }
.login_page_btn { font-size: 20px !important; }

.site_btn {
    background-color: var(--dark-purple);
    color: var(--light-color);
    border: 2px solid var(--dark-purple);
    border-radius: 8px;
    font-size: 18px;
    height: 50px;
    transition: .5s;
}

.textbox_btn {
    background-color: var(--dark-purple);
    color: var(--light-color);
    border: 2px solid var(--dark-purple);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    right: 7px;
    height: 37px;
    width: 37px;
    transition: .5s;
}

.site_btn:hover, .textbox_btn:hover {
    background-color: var(--light-color);
    color: var(--dark-purple);
    border: 2px solid var(--dark-purple);
}

.add_btn {
    color: var(--orange-color);
    border-radius: 6px;
    border: 2px solid var(--dark-purple);
}

.add_btn:hover {
    color: var(--dark-purple);
    border: 2px solid var(--orange-color);
}

.login_with_google_box {
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.google_text {
    color: #000;
}

.reload_btn {
    border: 2px solid #8e65c1;
    border-radius: 8px;
    background-color: #8e65c1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 35px;
    padding: 0 10px;
    transition: .5s;
}

.reload_btn:hover {
    border: 2px solid #8e65c1;
    background-color: #fff;
    color: #8e65c1;
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #666;
    margin: 20px 0;
  }
  .or-divider::before,
  .or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
  }
  .or-divider:not(:empty)::before {
    margin-right: 10px;
  }
  .or-divider:not(:empty)::after {
    margin-left: 10px;
  }

.accordion-button:not(.collapsed) { background-color: var(--light-purple) !important; }
.accordion-button:focus { box-shadow: unset !important; }

.question_font_size {
    font-size: 18px;
    font-family: Montserrat-SemiBold;
    color: var(--dark-purple);
}

.table_font { font-size: 16px; }

.login_box {
    box-shadow: 0px 1px 6px 0px #b2b2b2;
    background-color: var(--light-color);
    border-radius: 20px;
    padding: 35px 50px 50px;
    margin-top: 25px;
    max-width: 700px;
    width: -webkit-fill-available;
}

.box_text {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 0;
    margin-bottom: 25px;
}

.box_title { font-size: 40px; }

#drop-area {
    border: 2px dashed #cfcfcf;
    border-radius: 10px;
    width: auto;
    padding: 10px 0;
    text-align: center;
    background-color: var(--light-color);
}

#drop-area.hover { border-color: #333; }
.limit_text { font-size: 15px; }

.select_file_text {
    font-size: 19px;
    padding-top: 0;
}

.select_file_text span{
    color: blue;
    cursor: pointer;
}

#file-list { margin-top: 20px; }
.file-item { margin: 5px 0; }

#download-icon {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px; /* Space between icon and text */
}

.card_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.dashboard_cards {
    width: 100%;
    border-radius: 8px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
}

.card_icon {
    height: 55px;
    margin-bottom: 20px;
}

.card_color1 { /*background: linear-gradient(45deg, #6a11cb, #2575fc) !important;*/ background-color: var(--dark-purple); }
.card_color2 { /*background: linear-gradient(45deg, #00b09b, #96c93d) !important;*/ background-color: var(--dark-purple);}
.card_color3 { /*background: linear-gradient(45deg, #ee0979, #ff6a00) !important;*/ background-color: var(--dark-purple);}
.card_color4 { /*background: linear-gradient(45deg, #d900ff, #6e00ff) !important;*/ background-color: var(--dark-purple);}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    top: 40px;
}

.table_functions_btn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.table_functions_btn img {
    height: 20px;
    cursor: pointer;
}

.card-body {
    background-color: var(--dark-purple);
    border-radius: 10px;
}

.card-title { 
    color: var(--light-color); 
    font-size: 22px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.card_description {
    height: 130px;
    display: flex;
    align-items: center;
}

.footer_block {
    background-color: #fff;
    color: #898989;
    padding: 0;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: -webkit-fill-available;
}
.footer_text {
    font-family: 'Montserrat-Regular';
    font-size: 15px;
}

.table_icon {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.table_icon img {
    height: 40px;
    cursor: pointer;
}

.main_box {
    background-color: var(--light-color);
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0px 1px 6px 0px #b2b2b2;
    margin-top: 40px;
}

.center_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.content_width {
    max-width: 1000px;
    width: -webkit-fill-available;
}

.suggestion_box_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.suggestion_box {
    border: 1px solid #c8c8c8;
    box-shadow: 0px 2px 10px 0px #e8e8e8;
    border-radius: 50px;
    padding: 6px 20px;
    font-family: 'Montserrat-Regular';
    cursor: pointer;
    transition: .5s;
}

.suggestion_box:hover {
    box-shadow: 0px 2px 10px 5px #e2e2e2;
}

.suggestion_box_text { padding-left: 5px; color: #545454; font-size: 14px; }

.accordion-item:first-of-type>.accordion-header .accordion-button, .accordion-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed, .accordion-item:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table_separate { border-collapse: separate; }
table tr td { border: 1px solid #dee2e6; }

.table-top-right-border {border-top-right-radius: 10px;}
.table-top-left-border {border-top-left-radius: 10px;}
.table-bottom-right-border {border-bottom-right-radius: 10px;}
.table-bottom-left-border {border-bottom-left-radius: 10px;}

.side_box {
    display: flex;
    gap: 20px;
}

.borderd_box {
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    padding: 20px 30px;
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
}
.plus_minus_button {
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    width: 50px;
    background-color: #e9e9e9;
    border: 1px solid #cfcfcf;
}
.plus_minus_button#minus1, .plus_minus_button#minus2 {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.plus_minus_button#plus1, .plus_minus_button#plus2 {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.create_data_textbox {
    width: 100%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #cfcfcf;
    background-color: #f9f9f9;
    height: 50px;
}

.tab_content_border {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 35px 50px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #fff;
    color: #FD7909;
    border-bottom: 3px solid #8e65c1;
    border-radius: 0;
}

.nav-link { color: #000; }
.nav-link:hover { color: #FD7909; }

/* Media Print Start */
@media print {
    .sidenav_bar, .top_header, .print_none { display: none;  }
    #main_container { margin-left: 0 !important; }
    .content_body { padding: 0; margin-top: 0; }
    .site_title, .page_title, h4 { width: 100%; text-align: center; }
    .main_box {
        background-color: #fff0;
        padding: 0;
        border-radius: 0;
        box-shadow: unset;
        margin-top: 10px;
    }
    #tableContainer table thead tr {
        background-color: #212529 !important;
        color:var(--light-color);
        -webkit-print-color-adjust: exact;
    }
    #tableContainer table tbody tr {
        background-color: #e2e3e5 !important;
        color:#000;
        -webkit-print-color-adjust: exact;
    }
    #tableContainer table tr td { font-size: 14px; }
}
/* Media Print End */

@media (max-height: 720px) { .login_box { margin-bottom: 40px; } }
@media (min-width: 1421px) and (max-width:1600px) { .card_description { height: 165px; } }
@media (min-width: 1256px) and (max-width:1420px) { .card_description { height: 240px; } }
@media (max-width:1255px) { .card_description { height: auto; } }
@media (min-width: 200px) and (max-width:1200px) { .card_box { flex-direction: column; } }

@media screen and (max-width: 768px) {
    .sidenav_bar { width: 70px; }
    .site_logo img { width: 220px; }
    .top_header { position: relative; z-index: unset; }
    .footer_block { position: relative; z-index: unset; }
    .content_body, .content_body_got_questions { padding: 0; margin-top: 0; padding-bottom: 20px; }
    /* .dropdown_image { width: 35px; } */
    #main_container { margin-left: 0px !important; }
    .profile_dropdown { top: 63px; }
    .top_header .sidebar_toggle_btn { position: absolute; padding: 1px 10px; top: 13px; z-index: 2; }
    .sidenav_bar.open_collapsed + #main_container .top_header .sidebar_toggle_btn { left: 300px; }
    .sidenav_bar.collapsed + #main_container .top_header .sidebar_toggle_btn { left: 3px; }
    .login_box { padding: 35px 15px 50px; }
    .main_box { padding: 20px 10px; }
    .tab_content_border { padding: 10px 5px; }
    .nav-pills { display: flex; flex-direction: column; align-items: center; }
}

@media screen and (max-width: 500px) {
    .site_title, .page_title { font-size: 32px; }
}

@media screen and (max-width: 350px) {
    .sidenav_bar.open_collapsed + #main_container .top_header .sidebar_toggle_btn { left: 85vw; }
    .title_icon { display: none; }
}